.cover
{
    background-image: url('img.jpg');
    height:820px;
     width:650px;
     margin: 30px;
     padding:20px;
     border-radius: 10px;
     border:3px solid;
}

h1
{
    color: rgb(227, 78, 78);
    text-align: center;
    margin-left: 10px;
}

h2
{
    color: rgb(112, 192, 227);
    margin-left: 10px;
}

.item p
{
    color: rgb(11, 9, 11);
    margin-left: 0px;
}

.container
{
    width: 500;
    height:50;
    background-color: rgb(201, 191, 191);
    border-left: 4px solid steelblue;
    padding: 12px;
    margin-left: 10px;
}
.box
{
    
    width: 500;
    margin-left: 10px;
    background:rgb(236, 232, 232);   
    border:4px solid plum;         
    padding: 10px;
    border-radius: 10px;          
    display: flex; 
    flex-direction: row;               
    align-items: center;          
    gap: 15px;                   
     
}

.footer
{
    
    background-color: rgb(200, 224, 44);
    margin-top: 150px;
    display: flex;
    padding: 15px;
    border-radius: 4px;
    flex-direction: row;
    gap: 200px;
    
}

.price
{
    color: rgb(211, 38, 38);
    margin-left: 0px;
}

h3
{
    color:blue;
}

div p
{
    color:rgb(221, 224, 40);
    margin-left: 0;
}
span
{
    margin: left 20px;;
}

